<section>

  <div class="row">
    <div class = "carousel col-lg-12" >
      <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides " index="$index">
          <img ng-src="{{slide.image}}" class="img-responsive center-block carouselImg">
          <div class="carousel-caption">
            <p>{{slide.text}}</p>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>
  </div>

<div class="intro container">

  <div class="intro row">
    <div class="col-xs-12">
      <h1 class="text-center">Welcome to Burgess Orchards</h1>
    </div>

  </div>
  <div class="intro-body">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>

<div class="container bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact Us! Let us know!</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> 645 S. Alpine Hwy Alpine, UT 84004 </p>
      <p><span class="glyphicon glyphicon-phone"></span> 801-554-6317</p>
      <p><span class="glyphicon glyphicon-envelope"></span> burgess@burgessOrchards.com</p>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr/>

      <google-map></google-map>

      
</section>
