<section class="container">
  <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="fruit in fruits">
    <div class="panel panel-default fruit-panel ">
     <div class="panel-heading"><img class="img-responsive fruit-img"ng-src="assets/img/{{fruit.img}}" alt="" /></div>
     <div class="panel-body fruit-panel-body" >
       <h3>{{fruit.name}}</h3>
       <p>{{fruit.description}}</p>
     </div>
     <div class="panel-footer">
       <button class="btn btn-lg btn-primary">Edit</button>
       <button class="btn btn-lg btn-danger">Delete</button></div>
   </div>
  </div><!--/col-->
</section>
