

<div class="container">

<h1>Peach Varieties</h1>
<p class="lead">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<dl class="dl-horizontal">
  <dt>Clingstone</dt>
    <dd>For some varieties the flesh adheres to the pit when the fruit is cut in half. These varieties often have fibrous flesh. Most early-season peach and nectarine varieties are clingstones. Clingstone varieties tend to have firm flesh.</dd>
  <dt>Freestone</dt>
  <dd>Varieties with flesh that separates easily from the pit. Most varieties used for fresh consumption are freestone.</dd>
  <dt>Semi-freestone</dt>
  <dd>Refers to fruit that becomes mostly freestone by the time it is fully ripe.</dd>
</dl>

<div class="container">

  <!-- <div class="row"> -->

  <section class="container">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="fruit in fruits">
      <div class="panel panel-default fruit-panel ">
       <div class="panel-heading"><img class="img-responsive fruit-img" ng-src="assets/img/{{fruit.img}}" alt="" /></div>
       <div class="panel-body fruit-panel-body" >
         <h3>{{fruit.name}}</h3>
         <p>{{fruit.description}}</p>
       </div>
       <div class="panel-footer"><button class="btn btn-lg btn-primary btn-block">Button</button></div>
     </div>
    </div><!--/col-->
  </section>


  <!-- </div> -->




</div>
