

<div class="container">

<h1>Peach Varieties</h1>

<dl class="dl-horizontal">
  <dt>Clingstone</dt>
    <dd>For some varieties the flesh adheres to the pit when the fruit is cut in half. These varieties often have fibrous flesh. Most early-season peach and nectarine varieties are clingstones. Clingstone varieties tend to have firm flesh.</dd>
  <dt>Freestone</dt>
  <dd>Varieties with flesh that separates easily from the pit. Most varieties used for fresh consumption are freestone.</dd>
  <dt>Semi-freestone</dt>
  <dd>Refers to fruit that becomes mostly freestone by the time it is fully ripe.</dd>
</dl>

<div class="row">

  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <img src="assets/img/peach.jpg" alt="" />
      <div class="caption">
        <h3>Red Haven</h3>
        <p>First peach of the season on our farm. Depending on the season usually comes on around the first part of August. Medium sized round fruit. Golden-yellow skin with attractive red blush. Sweet yellow flesh is firm and smooth textured. Excellent for canning, freezing, and fresh eating. Redhaven is the standard by which all early peaches are judged. Semi-freestone peach</p>
        <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">Button</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <img src="assets/img/peach.jpg" alt="" />
      <div class="caption">
        <h3>Roza</h3>
        <p>Developed in Washington state, this peach is sweet with a balanced tanginess. While it is named for the Roza district in Washington, the Spanish word “rosa” describes its color, a beautiful red hue to go with its juicy, succulent flavor. This is one of the first true freestone peaches of the season. Roza ripens in mid-August.</p>
        <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">Add to Cart</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <img src="assets/img/peach.jpg" alt=""/>
      <div class="caption">
        <h3>Suncrest</h3>
        <p>The peach has a bright-red blush over its yellow skin and is fragrant and juicy. A large, freestone peach.</p>
        <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">Button</a>
      </div>
    </div>
  </div>


</div>

<div class="row">

  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <img src="assets/img/peach.jpg" alt="" />
      <div class="caption">
        <h3>Early Elberta</h3>
        <p>Large golden yellow peach with very little or no blush. Golden yellow flesh with rich, sweet flavor. Excellent for fresh eating and canning. The most popular variety in our area. Early Elberta is one of the best canning peaches on the market. Freestone peach.</p>
        <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">Button</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <img src="assets/img/peach.jpg" alt="" />
      <div class="caption">
        <h3>Zee Lady</h3>
        <p>A new hybrid freestone peach with dark red color on the skin and around the pit . Excellent, richly flavored flesh when fully ripe. Great fresh eating peach and freezing peach. Very little peach fuzz. Freestone peach.</p>
        <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">Add to Cart</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <img src="assets/img/peach.jpg" alt=""/>
      <div class="caption">
        <h3>Diamond Princess</h3>
        <p>Very red in color. sweet and firm with a smooth texture, excellent fresh eating peach. Freestone peach.</p>
        <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">Button</a>
      </div>
    </div>
  </div>


</div>

<div class="row">

  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <img src="assets/img/peach.jpg" alt="" />
      <div class="caption">
        <h3>Summer Lady</h3>
        <p>Freestone newer variety developed recently that is a cross between the Elegant Lady and the O’ Henry peaches. Great for Fresh eating or canning.</p>
        <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">Button</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <img src="assets/img/peach.jpg" alt="" />
      <div class="caption">
        <h3>Angelus</h3>
        <p>A yellow-flesh, freestone with a low acid flavor. It is more of a yellow peach with a slight red blush, and is a bit elongated. Its outstanding flavor makes it a highly sought after variety by true peach connoisseurs. Freestone peach.</p>
        <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">Add to Cart</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <img src="assets/img/peach.jpg" alt=""/>
      <div class="caption">
        <h3>O’Henry</h3>
        <p>Freestone, Bright Colored, large peach with light fuzz. the flesh is yellow, streaked with red. Very firm flesh with high sugar content. Great canning and fresh eating peach.</p>
        <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">Button</a>
      </div>
    </div>
  </div>


</div>

</div>
