

<div class="container">

<h1>Peach Varieties</h1>
<p class="lead">
  Utah provides the ideal conditions for peaches in all their varieties. Our peaches are the freshest and most succulent you could ever possibly find, perfect for perserving, canning, baking, or for immediate fresh consumption. Most varieties only come into season for a few short weeks at a time, so sign up to get regular updates to when your desired variety will be picked and ready to take home.
</p>

<dl class="dl-horizontal">
  <dt>Clingstone</dt>
    <dd>For some varieties the flesh adheres to the pit when the fruit is cut in half. These varieties often have fibrous flesh. Most early-season peach and nectarine varieties are clingstones. Clingstone varieties tend to have firm flesh.</dd>
  <dt>Freestone</dt>
  <dd>Varieties with flesh that separates easily from the pit. Most varieties used for fresh consumption are freestone.</dd>
  <dt>Semi-freestone</dt>
  <dd>Refers to fruit that becomes mostly freestone by the time it is fully ripe.</dd>
</dl>

<div class="container">

  <!-- <div class="row"> -->

  <section class="container">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="fruit in fruits">
      <div class="panel panel-default fruit-panel ">
       <div class="panel-heading"><img class="img-responsive fruit-img" ng-src="{{fruit.img}}" alt="" /></div>
       <div class="panel-body fruit-panel-body" >
         <h3>{{fruit.name}}</h3>
         <p>{{fruit.description}}</p>
       </div>
       <!-- <div class="panel-footer"><button class="btn btn-lg btn-primary btn-block">Button</button></div> -->
     </div>
    </div><!--/col-->
  </section>


  <!-- </div> -->




</div>
