<div class="container">

<h1>Apple Varieties</h1>

<p class="lead">
  You will not find fresher, crisper, tastier apples than ours. Hand-picked fresh that day, our apples are sure to amaze you and your family with their deliciousness. Most varieties are only availble for a short time, so signup with our emailing list to get regular updates on when these succulent apples picked and ready to bring home.
</p>


<section class="container">
  <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="fruit in fruits">
    <div class="panel panel-default fruit-panel ">
     <!-- <div class="panel-heading"><img class="img-responsive fruit-img"ng-src="{{fruit.img}}" alt="" /></div> -->
     <div class="panel-body fruit-panel-body" >
       <h3>{{fruit.name}}</h3>
       <p>{{fruit.description}}</p>
     </div>
     <!-- <div class="panel-footer"><button class="btn btn-lg btn-primary btn-block">Button</button></div> -->
   </div>
  </div><!--/col-->
</section>

</div>
