<div class="container">

<h1>Apple Varieties</h1>

<div class="row">

  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <img src="assets/img/apples.jpg" alt="" />
      <div class="caption">
        <h3>Gala</h3>
        <p>Pinkish-orange stripes over a yellow background for this crisp, sweet apple. Snacking and salads are primary uses. Gala harvest begins in the middle of August and lasts until November in cold storage.</p>
        <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">Button</a>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <img src="assets/img/apples.jpg" alt="" />
      <div class="caption">
        <h3>Honeycrisp</h3>
        <p>Developed by the University of Minnesota, a sweet yet slightly tart flavor, this variety of apple is great for salads, baking, cooking or eating as a snack. The Honeycrisp Apple grows well in Alpine. It is a variety that stores well. Honeycrisp is in high demand from out customers.</p>
        <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">Add to Cart</a>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <img src="assets/img/apples.jpg" alt=""/>
      <div class="caption">
        <h3>Jonagold</h3>
        <p>A cross between a Jonathon and a Golden Delicious apple is great for eating, baking and cooking.</p>
        <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">Button</a>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <img src="assets/img/apples.jpg" alt=""/>
      <div class="caption">
        <h3>Fuji</h3>
        <p>This flavorful variety was introduced to the U.S. from Japan in the 1980s, but now the U.S. produces more Fujis than Japan. It’s excellent for baking and salads. Utah’s cool weather in the late fall helps develop its reddish-pink color and excellent flavor. Fujis are harvested in October and can be purchased October to December.</p>
        <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">Button</a>
      </div>
    </div>
  </div>


</div>

</div>
