/*
Burgess Familiy Orchards
By Mark Alan Chapman 2016
www.markalanchapman.com
*/


/***General Styles ***/


/** {
  font-size: 1.3em;
}*/


/*body {
  padding: 0 50px 0 50px;
}*/


/*********** MEDIA QUERIES ************/

@media all and (max-width:480px) {
    .respBtn {
        width: 100%;
        display: block;
        margin: 20px 0 20px 0 !important;
    }

    .list-fix {
      padding-left: 15px !important;
    }

}

a {
    text-decoration: none;
}

a:hover {
    color: #339966;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:visited {
    color: none;
}

ul, ol {
    list-style: none;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}


/*-----------------Header Styles -----------------*/

.logo {
    max-height: 150px;
}

.logo-sm {
  max-height: 75px;
}

.call-to-action {
    text-transform: uppercase;
    text-align: center;
    background-color: #FF6633;
    color: #FFF;
    padding: 10px;
    cursor: pointer;
}


/*-----------------NavTab Styles -----------------*/

.navtab {
    margin-bottom: 10px;
}

.navtab {
    color: rgba(51, 153, 102, 0.5);
    text-align: center;
}

.activeState {
    color: #339966;
    border-bottom: 10px solid #339966
}


/*---------------Home View-------------------*/

.carousel {
    max-height: 60vh;
    overflow: hidden;
    margin-bottom: 40px;
}


.bg-grey {
    background-color: #EEEEEE;
}

.title-copy{
  margin-bottom: 40px;
}

.main-copy {
  margin-bottom: 80px;
}

.contact-section {
    padding: 1em 2em 2em 2em;
}

.contact-address {
  padding-left: 20px;
}

#map {
    height: 500px;
    /*margin-bottom: 30px;*/
    width: 100%;
    padding: 0;
}


/*-----carousel flash fix -----*/


/*---------------Fruit View------------------*/

.fruit-nav {
    margin-bottom: 30px;
}

.fruit-panel {
    min-height: 250px;
    overflow: auto;
}

.fruit-panel-body {
    min-height: 275px;
}

.fruit-img {
    margin: auto;
}

.fruit-btn-container {
    display: flex;
}

.fruit-btn {
    position: absolute;
    bottom: 35px;
}

.fruitActiveState {
    color: red;
}


/*---------------Admin------------------*/

.email-search {
    margin-bottom: 1em;
}

.bulk-mail-btn {
  margin-bottom: 1em;
}

.font-fix{
  font-size: 24px !important;
}



.borderless {
    border: none;
    background: transparent;
}

.fruitDesc {
    height: 200px !important;
    resize: none;
    border-style: none;
    border-color: transparent;
    overflow: auto;
}

.addButton {
    float: right;
    margin: 20px;
}


/*---------------Footer------------------*/

.footer {
    background-color: #339966;
    color: white;
    padding-top: 30px;
}

.social-links {
    margin-bottom: 20px;
    margin: auto;
}

.fa {
    color: white;
    height: 40px;
    width: 40px;
    font-size: 29px;
}

.copyright {
    margin-top: 20px;
}
