/*
Burgess Familiy Orchards
By Mark Alan Chapman 2016
www.markalanchapman.com
*/


/***General Styles ***/

/** {
  font-size: 1.3em;
}*/

/*body {
  padding: 0 50px 0 50px;
}*/

a {
  text-decoration: none;
}

a:hover {
color: #339966;
text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:visited {
  color: none;
}

ul, ol {
  list-style: none;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
 }


/*-----------------Header Styles -----------------*/

.logo {
  max-height: 150px;
}



.call-to-action {
  text-transform: uppercase;
  text-align: center;
  background-color: #FF6633;
  color: #FFF;
  padding: 10px;
  cursor: pointer;
}


/*-----------------NavTab Styles -----------------*/

.navtab {
  margin-bottom: 10px;
}

.navtab {
  color: rgba(51, 153, 102, 0.5);
  text-align: center;
}

.activeState {
  color: #339966;
  border-bottom: 10px solid #339966
}

/*---------------Home View-------------------*/

.carousel {
max-height: 60vh;
overflow: hidden;
}

.carouselImg {
  width: 100%;
  height: auto;
}

.bg-grey {
  background-color: #EEEEEE;
}

.contact-section {
  padding-bottom: 1em;
}

#map {
  height:420px;
  /*margin-bottom: 30px;*/
  width: 100%;
  padding: 0;
}
/*-----carousel flash fix -----*/


/*---------------Fruit View------------------*/

.fruit-nav {
  margin-bottom: 30px;
}

.fruit-panel {
  min-height: 566px;
  overflow: auto;
}

.fruit-panel-body {
  min-height: 300px;
}

.fruit-img {
  margin: auto;
}

.fruit-btn-container {
  display: flex;
}

.fruit-btn {
  position: absolute;
  bottom: 35px;
}

.fruitActiveState {
  color: red;
}

/*---------------Admin------------------*/
.email-search {
  margin-bottom: 1em;
}



/*---------------Footer------------------*/

.footer {
  background-color: #339966;
  color: white;
  padding-top: 30px;
}

.social-links {
  margin-bottom: 20px;
  margin: auto;
}

.fa {
  color: white;
  height: 40px;
  width: 40px;
  font-size: 29px;
}

.copyright {
  margin-top: 20px;
}
