/*
Burgess Familiy Orchards
By Mark Alan Chapman 2016
www.markalanchapman.com
*/


/***General Styles ***/

* {
  /*font-size: 1.3em;*/
}

body {
  /*padding: 0 50px 0 50px;*/
}

a {
  text-decoration: none;
}

a:hover {
color: #339966;
text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:visited {
  color: none;
}

ul, ol {
  list-style: none;
}


/*-----------------Header Styles -----------------*/



.header-container {
width: 100%;
height: 50px;
color: white;
margin-bottom: 30px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-grow: 1;
  width: 30%;
}


.call-to-action {
  text-transform: uppercase;
  background-color: #FF6633;
  color: #FFF;
  padding: 10px;
}

#call-to-action {
  font-size: 1.3em;
  letter-spacing: 4px;
  text-align: center;
  background: rgba(255, 102, 51, 0.15);
}


#call-to-action>a {
  color: white;
}

/*-----------------NavTab Styles -----------------*/

.navtab-container {
  color: red;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;;
  align-items: center;
  align-content: stretch;
  font-size: 2.2em;
  margin-bottom: 40px;
}

.navtab {
  padding: 10px;
  width: 16%;
  margin: 0 30px 0 30px;
  color: rgba(51, 153, 102, 0.5);
  text-align: center;
}

.activeState {
  color: #339966;
  border-bottom: 10px solid #339966
}

/*---------------Home View-------------------*/

.carousel {

}

.intro-container {
  padding: 0 40px 0 40px;
}

.intro {
 text-align: center;
 margin-bottom: 40px;
}

.intro>h1 {
  font-size: 7.0em;

}

.intro-body {
}
