/*
Burgess Familiy Orchards
By Mark Alan Chapman 2016
www.markalanchapman.com
*/


/***General Styles ***/

* {
  /*font-size: 1.3em;*/
}

body {
  /*padding: 0 50px 0 50px;*/
}

a {
  text-decoration: none;
}

a:hover {
color: #339966;
text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:visited {
  color: none;
}

ul, ol {
  list-style: none;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
 }


/*-----------------Header Styles -----------------*/

.logo {
  max-height: 150px;
}



.call-to-action {
  text-transform: uppercase;
  text-align: center;
  background-color: #FF6633;
  color: #FFF;
  padding: 10px;
}


/*-----------------NavTab Styles -----------------*/

.navtab {
  margin-bottom: 10px;
}

.navtab {
  color: rgba(51, 153, 102, 0.5);
  text-align: center;
}

.activeState {
  color: #339966;
  border-bottom: 10px solid #339966
}

/*---------------Home View-------------------*/

.carousel {
width: 100%
}

.intro-container {
  /*padding: 0 40px 0 40px;*/
}

.intro {
 /*text-align: center;
 margin-bottom: 40px;*/
}

.intro-body {
}

/*---------------Fruit View------------------*/

.fruit-nav {
  margin-bottom: 30px;
}

.fruit-panel {
  min-height: 566px;
  overflow: auto;
}

.fruit-panel-body {
  min-height: 300px;
}

.fruit-img {
  margin: auto;
}

.fruit-btn-container {
  display: flex;
}

.fruit-btn {
  position: absolute;
  bottom: 35px;
}

.fruitActiveState {
  color: red;
}


/*---------------Footer------------------*/

.footer {
  background-color: #339966;
  color: white;
  padding-top: 30px;
}

.social-links {
  margin-bottom: 20px;
}

.copyright {
  margin-top: 20px;
}

/*.flex, .flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

.panel {
   display: flex;
   flex-direction: column;;
   align-content:stretch;
}

.panel-body {
   display: flex;
   flex-direction: column;
   flex-grow:1;
}*/
