<div class="container">

<h1>A history of Burgess Orchards</h1>

<p>The history of Burgess Orchards goes back one hundred years. It began as a love story between two dedicated pioneers who were willing to sacrifice for their dreams. George Edward Burgess loved to tell stories, the bigger the better the tale. But this is a true story of how it all began. George Edward Burgess was the eldest of eleven children. His father, George Martin, was a blacksmith, lumberman, and rancher. Responding to a call from Brigham Young, he left his comfortable home to build a sawmill in Pine Valley, Utah. In September, after living nine years in Lund Nevada, George’s family packed all their belongings into two wagons and moved to Alpine, Utah.</p>

<p>On March 29th, 1912, George Edward Burgess purchased a farm at 645 S. Alpine Hwy in Alpine Utah for $2,500.</p>

<p>Edward W. Burgess was the oldest son of George Edward. The love story began as Edward, a hard working returned missionary, was invited over for Sunday Dinner to the Clark Home. There he met Inez Thurza Clark. A romance blossomed and they were married in February. George sold “The Hill” to Edward and Inez on January 27th, 1926 for $200. Edward’s father and grandfather had been blacksmith’s and cattle ranchers. Why would Edward then decide to plant a ten acre orchard? His wife Inez loved apples! He had never been a fruit farmer and most of what he learned was through trial and error. It took several years for the trees to come into production, and with unpredictable weather, it was a struggle. However, after hard work and perseverance they were soon harvesting Red Delicious, Gravenstein, Rome Beauty and Jonathan apples. The apples were picked and stored in an underground root cellar. Several years later they expanded acquiring “The East Field” and shares of irrigation water.</p>

<p>Edward and Inez had three children, their youngest a boy named Van Edward Burgess loved agriculture. He caught a vision of the orchards and as you drive down Alpine Highway today you will notice the Cold Storage Shed, the bins, the Fruit stand and the hundreds of trees. Burgess Orchards now grows six varieties of Apples; Fuji, Golden Delicious, Jonagold, Gala and Honeycrisp.</p>

<p>Over time the orchards have grown. The farm now produces not only apples, but peaches as well. Yes, that is also a love story. Van had one son, named Clark Van Burgess. Clark married an amazing, talented girl who suggested that they try growing peaches. The Burgess Family has been growing fruit long enough to know how to produce the best tasting harvest. We are happy to provide quality tree ripened fruit to our loyal customers.</p>

<p>After one hundred years, the tradition continues.</p>

</div>
